@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f5f5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 90vh;
    background-image: url('img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.navBar{
    width: 100%;
    height: 50vh;
    background-image: url('img/background-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width:100%;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.25);
    padding: 0px 5%;
    position: fixed;
    z-index: 1;
}

nav ul {
    display: flex;
}

.nav-toggle {
    display: none;
}

nav ul li a {
    margin: 30px;
    color: #333;
    font-size: 15px;
    font-weight: 600;
}

.logo {
    font-family: 'Faster One', cursive;
    font-size: 30px;
    color: linear-gradient(90deg,#2788e2 20%,#3b4eb8);
}

.active {
    color: #2d2a2a;
    font-weight: bold;
}

.pix {
    height: 520px;
    position: absolute;
    bottom:40px;
    left: 65%;
    transform: translateX(-75%)
}

.text-container p:nth-child(1){
    font-family: Calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 30px;
}

.text-container p:nth-child(3) {
    color: #403e3e;
    font-size: 35px;
    line-height: 30px;
}

.text-container p{
    margin: 45px 0px 25px;
    line-height:0px;
}

.text-container button{
    width:130px;
    height: 42px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
}

.text-container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.hire-btn {
    background: linear-gradient(90deg,#2788e2 20%,#3b4eb8);
    color: #fff;
    border: none;
}

button:active {
    transform: scale(1.1);
}

.about-container {
    width: 80%;
    height: 330px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -5% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.abt-container {
    width: 80%;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: 100px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

#img-card{
    border: none;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    background-color: #EBEBEB;
}

#img-card img:hover{
    border: none;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    background-color: #EBEBEB;

}
.about-text {
    width: 500px;
}

.about-text p:nth-child(1) {
    color: #403e3e;
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
}

.about-text p:nth-child(2){
	color:#3e3d3d;
	font-size:20px;
	font-weight:bold;
    line-height:5px;
    margin: 15px;
}
.about-text p:nth-child(3),.about-text p:nth-child(4){
	color:#7e7d7d;
    font-size:16px;
    margin-bottom: 15px;
}

.about-text button{
	width:120px;
	height: 40px;
	color:#ffffff;
	outline:none;
	border:none;
	background: linear-gradient(90deg,#2788e2 20%,#3b4eb8);
}

.skills {
    height: auto;
    background-color: #fff;
    padding: 2% 10% 0% 10%;
}

.skills-img{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.skills-text-section{
    width:400px;
}

.s-box-container{
    margin-top: 30px;
}
.skill-box{
    display: flex;
    margin: 25px 0px;
}
.s-box-icon{
    margin-right: 12px;
}
.s-box-icon i{
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f011;
    font-size: 1.1rem;
}
.skill-box strong{
    color: #333;
    margin: 0px;
    font-weight: 400;
    font-size: 0.9rem;
}
.skill-box p{
    color: #6d6d6d;
    font-size: 0.9rem;
}
.fa-html5{
    color: #e06061;
}
.fa-css3-alt{
    color: #5d85f3;
}
.fa-js{
    color: #f9ca31;
}
.progress-line{
    position: relative;
    margin: 10px 0px;
    height: 5px;
    width:100%;
    background-color: #1d1d1d;
    border-radius: 10px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
    0px 1px rgba(54, 54, 54, 0.8);
}
.progress-line span{
    height: 100%;
    background: linear-gradient(90deg,#2788e2 20%,#3b43b8);
    position: absolute;
    border-radius: 10px;
}
.progress-line.html span{
    width:90%;
}
.progress-line.css span{
    width:80%;
}
.progress-line.js span{
    width:50%;
}
.progress-line span::before{
    position: absolute;
    right: 0px;
    top: -10px;
    height: 0px;
    width: 0px;
    border: 7px solid transparent;
    border-bottom-width:0px;
    border-right-width:0px;
    border-top-color:rgb(20,98,243);
}
.progress-line span::after{
    position: absolute;
    right: 0px;
    top: -28px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    background-color: rgb(20,98,243);
    padding: 1px 8px;
    border-radius: 3px;
}


.skill-img{
    width:350px;
    height: 350px;
    padding-top: 30px;
}

.skill-img img{
    width:100%;
    height: auto;
    object-fit: contain;
}

.skills-text p{
    font-weight: bold;
    color: #1d1c1c;
    font-size: 30px;
    line-height: 0px;
    
}

.skills-text {
    width: 500px;
    margin: 50px 375px;
}

.box-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.box-1, .box-2, .box-3 {
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 18px rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 4px;
}

.box-1 {
    background-image: url('img/skills-1.png');
}

.box-2 {
    background-image: url('img/skills-2.png');
}

.box-3 {
    background-image: url('img/skills-3.png');
}

.box-1 span, .box-2 span, .box-3 span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
	color:#FFFFFF;
	font-family: calibri;
	font-size: 23px;
    line-height:0px;
    margin-bottom: 20px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
	font-family: calibri;
	color:#8F8F8F;
	text-align:center;
	width: 230px;
	margin:0px 0px 20px 0px;
}
.box-1 button,
.box-2 button,
.box-3 button{
	width:100px;
	height:30px;
	background-color:#FFFFFF;
	border:none;
	outline: none;
	border-radius:5px;
}
#get-in-touch{
    width: 75%;
    height: 100px;
    background-color: #3e3d3d;
    display: flex;
    margin: 60px auto;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
}

#get-in-touch span{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
}

#get-in-touch a{
    color: #fff;
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#2788e2 20%,#3b4eb8);
}

#contact-form{
    width:100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-form form{
    display: flex;
    width: 55%;
    height: 50vh;
    background-color: #505050;
    box-shadow: 2px 12px 20px rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.01);
}

.contact-left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-right{
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(255,255,255,0.08);
}

.contact-right button{
    width: 100%;
	height: 50px;
    background: linear-gradient(90deg,#2788e2 20%,#3b4eb8);
	font-weight: bold;
	outline: none;
	border: none;
	margin: 0px;
	color:#fff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.fullName,.eMail{
	display: flex;
	flex-direction: column;
    font-family: calibri;
}

.fullName input, .eMail input{
	height: 30px;
	width:250px;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid #929292;
	color:#fff;
	margin: 10px 0px;
}

/*.fullName input::placeholder,
.eMail input::placeholder{
	opacity: 0.5;
	letter-spacing: 1px;
}*/
.fullName input:focus,
.eMail input:focus{
	border-bottom: 1px solid #2788e2;
	transition: all ease 0.5s;
}
.message h3{
	font-size: 20px;
	color:rgba(255, 255, 255, 0.5);
	font-family: calibri;
}

.message{
    margin: 20px;
    text-align: center;
}
.contact-right textarea{
	width: 100%;
	height: 200px;
	border: none;
	outline: none;
	background-color:transparent;
	box-sizing: border-box;
	color:#EBEBEB;
	font-size: 16px;
}
.contact-right textarea::placeholder{
	color:#EBEBEB;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: calibri;
}
.contact-right button:active{
	transform: scale(1.04);
	transition: all ease 0.1s;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6d6d6d;
    padding: 10px;
}
.copyright{
    color:#fff;
}
.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social a{
    width:35px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    background-color: #292b3252;
    margin: 5px;
    font-size: 0.9rem;
    font-weight: 400;
}
.footer-social a:hover{
    background-color: #2993f7;
    transition: all ease 0.5s;
}
::selection{
    color: #e4e4e4;
    background-color: #416cdf;
}